* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #828282;
}

.contarin {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
}

.contarin .lottery {
    border-radius: 50%;
    border: none;
    height: 150px;
    width: 150px;
    background-color: #fff;
    box-shadow: inset -4px -4px 20px 0px #b9b1b1, -1px -1px 6px 0 #6d6d6d, 1px 1px 0px 0 #6d6d6d;
}

.contarin .lottery:focus {
    outline: none
}

.contarin .lottery span {
    text-shadow: 1px 1px 4px #fff, 0px 0px 7px #7b7b7b;
    font-weight: bold;
    font-size: 25px;
    color: #696050;
}

.contarin .information {
    width: 800px;
    height: 50px;
    border-radius: 5px;
    background-color: #4c4249;
    border: 0;
    color: #ffffff;
    font-weight: bolder;
    text-align: center;
    font-size: 30px
}

.hidden {
    display: none !important;
}

#stopBtn {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
}